:root{
    --dark-red: #981a2c; /* Global Variable*/
}
.container{
    border: 1px solid brown;
    background-color: var(--dark-red);
    height: 300px;
    width: 300px;
}

.box{
    border: 2px solid green;
    background-color: aqua;   
    --dark-red: #981a2c; /* Local Variable*/  
    color: var(--dark-red);  
}