* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#wrapper {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    231deg,
    rgba(22, 6, 40, 1) 0%,
    rgba(52, 28, 79, 1) 50%,
    rgba(88, 7, 125, 1) 100%
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* padding: 10px; */
}

.heading {
  color: white;
  letter-spacing: 2px;
  line-height: 1.2;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

.generator-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  background: hsl(268, 75%, 9%);
  border-bottom: 4px solid purple;
  border-radius: 10px;
}

.password-output {
  color: white;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1.15rem 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
}
::placeholder {
  color: hsl(52, 100%, 62%);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-img {
  cursor: pointer;
}
.generator-section img {
  margin-right: 15px;
}

.main-section {
  width: 100%;
  background: hsl(268, 75%, 9%);
  border-bottom: 4px solid purple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  padding-bottom: 40px;

}

.password-length {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.15rem 0;
}
.password-length p {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-length div {
  width: 10%;
  color: hsl(52, 100%, 62%);
  text-align: center;
  font-size: 1.5rem;
}

/* Slider  */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  background: purple;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  transition: all 0.3s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: hsl(52, 100%, 62%);
  border-radius: 100%;
}

.slider:hover::-webkit-slider-thumb {
  background-color: black;
  border: 2px solid hsl(52, 100%, 62%);
  box-shadow: 0 0 25px hsl(52, 100%, 62%);
}

.checkbox {
  color: white;
  width: 100%;
  padding: 1.15rem 0;
  display: flex;
  flex-direction: column;
}

.strength-indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.15rem 0
}
.strength-indicator div p {
    color: white;
    font-size: 1.5rem;
}

.indicator {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 20px white;
}

.generate-password {
    width: 100%;
    background: hsl(285, 91%, 52%);
    color: hsl(52, 100%, 62%);
    padding: 1.15rem 0;
    text-align: center;
    border-bottom: 5px solid hsl(52, 100%, 62%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    cursor: pointer;
}
