html{
    background-color: #e6e6e6;;
}
.logo{
    width: 190px;
    height: 100px;
    border-radius: 10px;
    padding: 2px;
    padding-right: 2px;
}
.courses{
    position: relative;
    left: 15%;
    width: 196px;
    height: 180px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.fig1_caption{
    font-size: 15px;    
    font-family: Rubik,sans-serif;
    padding: 1px 3px;
}
hr{
    position: relative;
    left: 5px;
    height:1px;
    width: 90%;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-left: 0;
}
a:hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;    
}
span{
    font-size: 10px;
}
.off{
    font-size: 9px;
    display: inline;
    border-radius: 4px;
    padding: 2px 4px;
    color: white;
    background-color: green;
    margin: 5px;
    font-family: Rubik,sans-serif;
}
.dsa_course{
    position: relative;
    border-radius: 5px;
    left: 220px;
    bottom: 210px;
    margin: 20px;
    width: 196px;
    height: 180px;
    padding: 10px;
    background-color: white;
}
.system_design{
    position: relative;
    border-radius: 5px;
    left: 469px;
    bottom: 430px;
    margin: 20px;
    width: 196px;
    height: 180px;
    padding: 10px;
    background-color: white;
}
.fig2_caption{
    font-size: 13px;    
    font-family: Rubik,sans-serif;
    padding: 2px 3px;
}
